engine-strict=true
optional=true
audit=false
loglevel=error
save-exact=true
@templafy:registry=https://pkgs.dev.azure.com/templafy/_packaging/Templafy/npm/registry/
always-auth=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
